body {
	width:  960px;
	margin: 0 auto;	
	font-family: arial;    
}

button, 
select,
input {
	background-color: transparent;
	border: none;
	font-family: calibri;
	outline: none;
	color: #333;
}
select{
	-webkit-appearance: none;
}
input::-webkit-input-placeholder {
  font-size: 0;
}



input.is-active-placeholder::-webkit-input-placeholder {
  font-size: 19px;
  font-family: calibri;
}

input:focus + .label, 
.form__input-up + .label {
	font-size: 14px;
	transition-duration: 1s;
	transition-property: font-size;
	top: 30%;
}

.form input {
	border-radius: 5px;
	background-color: #eef2f7;
	border: none;
	max-width: 610px;
}

.error-border,
.error-border:hover {
	box-shadow: 0 0 0 1px red;
}

.input-parent, 
.condition {
	position: relative;
}

.input-error{
	color: red;
    position: absolute;
    top: 70px;
    font-family: calibri;
    font-size: 14px;
    width: inherit;
}

input .input-error__checkbox {
	color: red;
	position: absolute;
	font-family: calibri;
	font-size: 14px;
	width: inherit;
	bottom: -10px;
	left: 10px;
}

.application-form {
	border: 1px solid #dce3ea;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.header {
	background-color: #3e4757;
	height: 81px;
	border-radius: 10px 10px 0 0;
}

.header__title {
	margin: 0;
	color: white;
	text-align: center;
	padding: 30px;
	font-family: CALIBRI;
	font-size: 24px;
	font-weight: 100;
}


.label-phone {
    font-size: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	transition-duration: 1s;
	transition-property: transform;
    color: grey;
    width: 100%;
	padding: 9px 25px 36px 25px;
	pointer-events: none;
}

.label-select {
    font-size: 14px;
    position: absolute;
    top: 15%;
    color: grey;
    left: 4.8%;
    pointer-events: none;
}

.label {
    font-size: 19px;
    position: absolute;
    left: 26px;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 1s;
	transition-property: transform;
    color: grey;
    pointer-events: none;
    font-family: CALIBRI;
}

.pseudo-hover:hover,
.pseudo-hover:hover {	
	box-shadow: 0 0 0 1px #dbd9d9;
}

.pseudo-hover:focus,
.pseudo-hover:focus {
	background: white;
	box-shadow: 0 0 0 1px #c4c4c4;
}

.form__fill-short-app-input {
	width: 20px;
	height: 20px;
	margin: 0;
	margin-right: 15px;
	cursor: pointer;
}

.form__label {
	cursor: pointer;
	padding-bottom: 3px;
}

.form__agree-conditions {
	display: none;
}



.form__save-number-text {
	margin: 0;
}

.form__citizenship {	
	max-width: 610px;
	margin: 30px auto;
	padding-bottom: 30px;
	margin-bottom: 0;
	position: relative;
}

.form__region, 
.form__name, 
.form__country, 
.form__postcode, 
.form__appointment-region, 
.form__district-or-city, 
.form__settlement, 
.form__street, 
.form__comment,
.form__phone,
.form__email {
	max-width: 610px;
	margin: 30px auto;	
}

.form__search-by-numbers, 
.form__price {
	max-width: 610px;
	margin: 10px auto 30px;		
}

.form__country {
	margin-top: 0px;
}

.form__region-input,
.form__name-input,
.form__country-input,
.form__region-two-input,
.form__city-input,
.form__locality-input,
.form__street-input{
	text-transform: capitalize;
}

input[type='number'] {
	-moz-appearance:textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.form__region-input, 
.form__name-input, 
.form__country-input, 
.form__postcode-input, 
.form__appointment-region-input, 
.form__district-or-city-input, 
.form__settlement-input, 
.form__street-input, 
.form__comment-input,
.form__phone-input,
.form__email-input {
	width: 100%;
	display: block;
	box-sizing: border-box;
    padding: 36px 25px 9px 25px;
    font-size: 19px;
    height: 100%;		
}

.form__country,	
.bring-info__learn_more-text {
	display: none;
}

.input-error:empty {
	display: none;
}

.form__wrapper-note {
    max-width: 234px;
    margin-right: 66px;
}


.appointment .form__next-btn{
	width: 302px;
}

/*.form__wrapper-next input {*/
/*	background: #ffdd2d;*/
/*	border: none;*/
/*}*/

.form__citizenship-input {
	width: 610px;
	border-radius: 5px;
	background-color: #eef2f7;
	padding: 36px 25px 9px 25px;
	border: none;
	cursor: pointer;
	font-size: 19px;
}

.form__recall {
	display: none;
}



.form__house, 
.form__building, 
.form__edifice, 
.form__flat {
	max-width: 150px;
}

.form__house-input, 
.form__building-input, 
.form__edifice-input, 
.form__flat-input {
	width: 150px;
	padding: 36px 25px 9px 25px;
	box-sizing: border-box;
	font-size: 19px
}

.form__date, 
.form__time,
.form__internet,
.form__call {
	max-width: 302px;
	margin-bottom: 0;
}

.form__date-input, 
.form__time-input,
.form__calls-input,
.form__internet-input {
	width: 302px;
	border-radius: 5px;
	background-color: #eef2f7;
	padding: 36px 25px 9px 25px;
	border: none;
	cursor: pointer;	
	box-sizing: border-box;
	font-size: 19px;
}

.form__search-by-numbers-input, 
.form__price-input {
	width: 302px;
	box-sizing: border-box;
	font-size: 19px;
	border: none;
	cursor: pointer;
	padding: 36px 25px 9px 25px;
	border-radius: 5px;
	background-color: #eef2f7;
	outline: none;
}


.form__time-input {
	padding-left: 20px;
}

.form__friend-phone-input,
.form-bring__name .form__name-input {
	width: 298px;
    border-radius: 5px;
    background-color: #eef2f7;
    padding: 35px 20px 9px 25px;
    border: none;
    font-size: 19px;
    font-family: calibri;
}



.display-block {
	display: block;
}



.form__save-number-wrapper {
	margin: 30px auto;
	margin-bottom: 13px;
	display: flex;
    align-items: center;
}

.form__save-number {
	max-width: 610px;
	margin: 30px auto;
}

.form__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px auto 30px auto;
    max-width: 610px;
}

.form__wrapper-input {
    display: flex;
    justify-content: space-between;
    margin: 30px auto 30px auto;
    max-width: 610px;	
}

.form__condition-input, 
.form__condition-text {
	margin: 0 auto;
}

.form__condition-input {
	width: 20px;
	height: 20px;
}

.form__next-btn {
	padding: 22px;
    border-radius: 5px;
    width: 206px;
    border-style: none;
    background: #ffdd2d;
    cursor: pointer;
    font-size: 19px;
}

.thank-you__more-btn:hover,
.form__invite-submit:hover,
.form__next-btn:hover,
.phone-number__next-btn:hover {
	background: #f4d01b;
	transition-duration: 0.5s;
	transition-property: background;
}

.form__next-btn:focus {
	outline: none;
}

.form__wrapper-next {
	border-top: 1px solid #dce3ea;
	border-radius: 0 0 5px 5px;
	margin: 0 auto;
	padding: 30px 18.5% 30px 18.5%
}

.condition {
	display: flex;
    align-items: center;
    font-size: 14px;
}

.condition__button {
	background-color: white;
	border-style: none;
	color: #74a3c7;
	cursor: pointer;
	font-size: 17px;
}

.condition__all-info{
	margin-bottom: 30px;
}

.thank-you__more-btn:focus,
.form__invite-submit:focus,
.form__invite-submit:focus,
.condition__button:focus,
.phone-number__next-btn:focus {
	outline: none;
}

.condition__button:hover {
	color: #207bc0;
}


.condition__label {
	cursor: pointer;
}

.form__title {
	max-width: 612px;
	margin: 0 auto;
	font-family: calibri;
	font-size: 30px;
	font-weight: 100;
	color: #5b5b5b;
	letter-spacing: -1px;
}

.appointment {
	border: 1px solid #dce3ea;
	border-radius: 10px 10px 5px 5px;
}

.appointment-end {
	margin: 30px auto 40px auto;
	text-align: center;	
}


/*.bring{*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*}*/

.bring__picture{
	position: relative;
}

.bring__picture-phone {
	display: block;
	position: absolute;
	top: 60px;
	left: calc(50% - 21px);
	width: 1em;
	height: 0;
	border-bottom: 1.5em solid #2c2c2c;
	border-left: 0.8em solid transparent;
	border-right: 0.8em solid transparent;
	border-radius: 0.5em;
	margin-top: 0.5em;
}

.bring__picture-phone:before {
	content: '';
	position: absolute;
	width: 1.4em;
	height: 0em;
	border-top: 0.2em solid #2c2c2c;
	border-left: 0.4em solid #2c2c2c;
	border-right: 0.4em solid #2c2c2c;
	border-bottom: 0.5em solid transparent;
	display: block;
	top: 0;
	left: 0;
	margin: -0.4em 0 0 -0.6em;
	border-radius: 0.2em;
}

.bring__picture-phone:after {
	content: '';
	position: absolute;
	color: #2c2c2c;
	font: bold 0.64em/1.2em sans-serif;
	position: absolute;
	top: 0.3em;
	left: 0;
	background: #FFF;
	display: block;
	width: 1.2em;
	text-align: center;
	height: 1.2em;
	border-radius: 1.2em;
	border: 0.3em dotted #2c2c2c;
}

.bring__picture-price{
	width: max-content;
	position: absolute;
	left: 20px;
	top: 25px;
	background-color: #1E90FF;
	color: white;
	font-size: 15px;
	padding: 10px 15px;
	border-radius: 25px 25px 25px 0 ;

}

.appointment-end__info, 
.bring-info__title, 
.subtitle {
	text-align: center;
	margin: 30px auto;
	margin-top: 0;
}

.subtitle {
	color: grey;
	margin-bottom: 15px;
}

.bring-info__title {
	margin-top: 130px;
	font-family: calibri;
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 15px;
}

.bring-info__title-ruble {
	font-size: 23px;
}

.appointment-end__info {
	padding-top: 0;
	padding-bottom: 60px;
	border-bottom: 1px solid #dce3ea;
	line-height: 1.3;
	color: grey;
	margin-top: 30px;
}
.appointment-end__additional-info{
	font-size: 20px;
	opacity: 0.7;
	line-height: 1.5;
}

.bring-info {

}

.bring-info__wrap {
	margin: 0 auto;
	width: 70px;
}

.bring-info__learn-more {
	border: none;
    padding: 0;
    background: none;
    color: #74a3c7;
    cursor: pointer;
    font-size: 18px;
    border-bottom: 1px #74a3c7 dashed;
}

.bring-info__learn-more:focus {
	outline: none;
}

.bring {
	border: 1px solid #dce3ea;
}

.bring-info__conditions {
	text-decoration: none;
	color: #74a3c7;
}

.bring-info__conditions:focus {
	background: #ffdd2d;
}

.bring-info__learn_more-text {
	max-width: 700px;
	margin: 0 auto;
	font-size: 14px;
	font-family: calibri;
	color: grey;
}

.bring-info__learn-more-text {
	max-width: 700px;
	max-height: 80px;
	margin: 30px auto;
}

.form-bring {
	display: flex;
	flex-direction: column;
	width: calc(100% - 129px * 2);
	height: 222px;
	margin: 30px 129px 0 129px;
}

.form__wrapper-bring {
	max-width: 700px;
	margin: 0 0 30px 0;
}

.form-bring__wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	max-width: 700px;
}
.form-bring__wrapper .form__phone,
.form-bring__wrapper .form__name{
	margin: 0;
}


.form__invite-submit {
	width: 206px;
    border-radius: 5px;
    background-color: #ffdd2d;
    padding: 22px 25px 22px 25px;
    border: 1px solid #dce3ea;
    cursor: pointer;
    font-size: 19px;
    font-family: calibri;
}

.thank-you {
	max-width: 206px;
	margin: 0 auto;
}


.thank-you__title {
	margin-bottom: 30px;
	text-align: center;
	font-family: calibri;
    font-weight: 400;
    font-size: 24px;
}

.thank-you__more-btn {
	margin: 0 auto;
	width: 206px;
    border-radius: 5px;
    background-color: #ffdd2d;
    padding: 22px 24px 22px 24px;
    border: 1px solid #dce3ea;
    cursor: pointer;
    margin-bottom: 30px;
	font-family: calibri;
    font-weight: 100;
    font-size: 19px;    
}

.phone-number__next-btn {
	width: 206px;
    border-radius: 5px;
    background-color: #ffdd2d;
    padding: 22px 24px 22px 24px;
    border: 1px solid #dce3ea;
    cursor: pointer;
	font-family: calibri;
    font-weight: 100;
    font-size: 19px;    	
}

.poput__condition-wrap {
	background: #fffef4;
	max-width: 750px;
	margin: 0 auto;
	height: 1000px;
}

.form__agree-conditions-title {
	text-align: center;
	font-family: calibri;
	font-size: 50px;
    line-height: 54px;
    font-weight: 200;
    letter-spacing: -1px;
}

.form__agree-conditions-list {
	list-style: none;
	line-height: 2;
}

.form__agree-conditions-list li::before {
    content: "";
    display: inline-block;
    border: 5px solid #ffdd2d;
    border-radius: 50%;
    margin-right: 15px;
    padding: 1px;

}

.input-close-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px 10px 0px;
    cursor: pointer;
    border-radius: 50%;
}

.input-close-btn:before,
.input-close-btn:after {
    content: "";
    position: absolute;
	width: 20px;
    height: 1px;
    background: #8e8e8e;
}

.input-close-btn:before {
    transform: rotate(45deg);
}

.input-close-btn:after {
    transform: rotate(-45deg);
}

.input-filled{
	font-size: 13px;
	position: absolute;
	right: 24px;
	top: calc(50% - 15px / 2);
	cursor: pointer;
	color: green;
}

.bucket-header__wrap{
	position: relative;
}
.close-block{
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px 20px 10px 0px;
	cursor: pointer;
	border-radius: 50%;
}
.close-block:before,
.close-block:after {
	content: "";
	position: absolute;
	width: 20px;
	height: 1px;
	background: #8e8e8e;
}

.close-block:before {
	transform: rotate(45deg);
}

.close-block:after {
	transform: rotate(-45deg);
}


.popup__close-btn {
    position: absolute;
    top: 50%;
    padding: 11px 29px 12px 0px;
    cursor: pointer;
    border-radius: 50%;
}

.popup__close-btn:before,
.popup__close-btn:after {
    content: "";
    position: absolute;
	width: 30px;
    height: 1px;
    background: #8e8e8e;
}

.popup__close-btn:before {
    transform: rotate(45deg);
}

.popup__close-btn:after {
    transform: rotate(-45deg);

}

.popup__close-btn-wrapper {
	display: flex;
    justify-content: flex-end;
    position: relative;
}

.appointment-end__title {
	font-family: calibri;
	margin-bottom: 0px;	
	font-size: 30px;
    font-weight: 100;
}

.appointment-end__wrap {
	height: 60px;
	position: relative;
}

.appointment-end__wrap:before {
	content: "✔";
	color: green;
	font-size: 30px;
	display: inline-block;
    line-height: 2;	
	background: #e0f3e3;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	position: relative;
    margin: 0 auto;
}

.popup {
	display: none;
}

.modal {
	padding-top: 30px;
    position: fixed;
    top: 0;
    background: white;
    width: 960px;
    font-size: 17px;
    line-height: 24px;
    height: 100%;
    overflow: auto;
}

.non-header__title {
	margin: 10px auto;
	text-align: center;
}

.application-internet__subtitle {
	margin: 0 auto;
	max-width: 610px;
	text-align: left;
	font-size: 21px;
	font-weight: 200;
	color: #333;
}

.application-internet {
	margin: 30px auto 0 auto;
	max-width: 610px
}

.application-internet__options-wrapper {
	display: flex;
	flex-direction: column;
}

.application-internet__wrap-mes-soc,
.application-internet__wrap-mus-vid {
	display: flex;
	align-items: flex-start;
	width: 100%;
}

/*.application-internet__options-wrapper input[type=checkbox] {*/
/*	margin: 0 5px 0 0;*/
/*	width: 20px;*/
/*	height: 20px;*/
/*	!*display: inline-block;*!*/
/*	!*vertical-align: bottom;*!*/
/*	cursor: pointer;*/
/*}*/


.application-internet__options-wrapper {
	font-size: 14px;
	color: #333;
}

.application-internet__options {
	width: 50%;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 30px;
}

.application-internet__hidden-info {
	max-width: 300px;
    color: #8e8e8e;
    display: inline-block;
	padding: 0;
    width: 20px;
    height: 20px;
    line-height: 22px;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin-left: 15px;
    border: 1px solid #8e8e8e;

}


/*.application-internet__info{*/
/*	position: absolute;*/
/*	top: 10px;*/
/*	left: 0;*/
/*	font-size: 13px;*/
/*	margin: 0 15px 0 26px;*/
/*	display: none;*/
/*	color: #8e8e8e;*/
/*	padding: 0;*/
/*	width: 20px;*/
/*	height: 20px;*/
/*	line-height: 22px;*/
/*	text-align: center;*/
/*	cursor: pointer;*/
/*	border: 1px solid #8e8e8e;*/
/*}*/

.application-internet__button {
	color: #8e8e8e;
	display: inline-block;
	padding: 0;
	width: 22px;
	height: 22px;
	background: transparent;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	margin-left: 15px;
	border: 1px solid #8e8e8e;
	font-family: inherit;
	font-size: inherit;
}

.application-internet__options_open .application-internet__info{
	display: block;
}

.application-internet__info {
	color: #9299a2;
	font-size: 13px;
    line-height: 20px;
    margin: 0 12px 0 26px;
    display: none;
}

.application-internet__wrap-sms {
	margin-top: 0px;
	margin-bottom: 40px;
}

.form__wrapper-number {
	width: 285px;
	border: 1px solid #dce3ea;
	
	border-radius: 5px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.phone-number__subtitle {
	text-align: left;
	font-weight: 200;
}

.phone-number {
	max-width: 610px;
	margin: 0 auto;
}

.label-radio {
	padding: 22px 17px 20px;
	width: 100%;
}

.popup--number-transfer {
	max-width: 960px;
	color: #333;
}
.popup--friend-condition .popup__all-info-body{
	padding-bottom: 60px;
}

.form__agree-conditions-title_number-transfer {
	margin-bottom: 26px;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}

.popup__number-transfer-head {
	border-top: 1px solid #dbd9d9;
	border-bottom: 1px solid #dbd9d9;
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 30px;
}

.popup__subtitle {
	max-width: 374px;
	margin-left: 0px;
}

.form__agree-conditions-text_number-transfer,
.popup__number-transfer-list {
	max-width: 576px;
}

.popup__number-transfer-article {
	display: flex;
	justify-content: space-between;	
	margin-top: 30px;
}

.popup__number-transfer-list{
	padding: 0px;
}

.popup__number-transfer-item {
	line-height: 1.5;
	margin-bottom: 30px;
}

.phone-number-wrap {
	border: 1px solid #dce3ea;
	border-radius: 10px;
}

.phone-number__learn-more-btn {
	margin-bottom: 40px;
}


.phone-number__footer{
	margin: 30px auto;
	border-top: 1px solid #dbd9d9;
	width: 958px;
}

.phone-number__footer_prev-next {
	display: flex;
	justify-content: space-between;
	max-width: 610px;
	height: 66px;
	margin: 30px auto 0;
}

.phone-number__prev-btn-wrap{
	display: flex;
	text-decoration: none;
}

.phone-number__prev-btn {
	background-color: white;
	border-style: none;
	color: #74a3c7;
	cursor: pointer;
	font-size: 17px;

}

.phone-number__prev-btn:focus {
	outline: none;
}

.phone-number__prev-btn:hover {
	color: #207bc0;
}	

.radio-btn-style {
    width: 40px;
    height: 40px;
    margin: 10px 0 10px 0;
    cursor: pointer;
}

.phone-number__numbers-container {
	position: relative;
	display: flex;
    justify-content: space-between;
    width: 610px;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    align-items: center;
}

.phone-number__numbers-input-wrapper {
	display: flex;
    align-items: center;
}

.phone-number__number-input {
	width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-right: 30px;
}

.numbers-scroller {
	width: 610px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.favorites-btn{
	display: flex;
	justify-content: flex-start;
}

.numbers-scroller__text-btn {
	margin: 0;
}

.tick-style {
	font-size: 17px;
    color: #84afcf;
    margin: 0 3px 0 3px;
    cursor: pointer;
}

.numbers-scroller-wrap {
	display: flex;
}

.numbers-scroller__shower{
	width: auto;
	display: flex;
	align-items: center;
}

.label-radio {
	cursor: pointer;
}

.display-none {
	display: none;
}

.hidden{
	display: none;
}

.bring{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}


.visible {
	/*visibility: visible;*/
	display: block;
}

.circle {
	background: #ffdd2d;
	width: 10em;
  	height: 10em;
  	border-radius: 50%;
  	margin: 30px auto 0 auto;
  	z-index: -1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.circle__screamer-top{
	height: 80px;
	width: 10px;
	border: 3px solid #000;
	transform: perspective(150px)rotateX(-40deg);
	margin: 25px 0 -5px 0;
}

.circle__screamer-bot{
	height: 12px;
	width: 12px;
	border: 2px solid #000;
	border-radius: 50%;
}


.application-done__title {
	font-family: calibri;
    font-size: 50px;
    line-height: 54px;
    font-weight: 200;
    text-align: center;
    padding: 20px 0 23px;	
}

.application-done {
	border: 1px solid #dce3ea;
	border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
	margin-top: 50px
}

.bucket-wrapper {
	width: 610px;
	border: 1px solid #dddfe0;
	background: #eef2f7;
	border-radius: 6px;
	margin: 0 auto 20px auto;
}

.bucket-header {
	font-family: calibri;
	font-weight: 300;
	padding: 15px 20px;
	border: 1px solid #dddfe0;
	margin: 0;
	color: #9299a2;
}

.bucket__options-menu,
.bucket__number-menu {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	border: 1px solid #dddfe0;	
}

.numbers-bucket__btn-wrapper {
	text-decoration: none;
	margin: 40px 0 20px 0;
    justify-content: center;
	display: none;
}


.bucket-wrapper.hidden ~ .numbers-bucket__btn-wrapper {
	display: flex;
}


.options-menu__period {
	margin: 0;
	width: max-content;
	right: 12px;
	font-size: 13px;
	color: #9299a2;
}

.options-menu__price {
	margin: 0;
}

.options-menu__price-wrapper,
.options-menu__number-wrapper{
	display: flex;
	margin-bottom: -13px;
}

.options-menu__price-container{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.options-menu__correction {
	width: 50px;
}
.options-menu__correction:hover{
	cursor: pointer;
}
.options-menu__value-container{
	margin-bottom: -13px;
}
.options-menu__options-value,
.options-menu__number-value,
.options-menu__new-number-value,
.options-menu__new-number-two-value,
.options-menu__new-number-three-value,
.options-menu__new-number-four-value{
	margin: 0;
}

.options-menu__more-value,
.options-menu__more-one-value,
.options-menu__more-two-value,
.options-menu__more-three-value,
.options-menu__more-four-value{
	margin: 0;
	font-size: 13px;
	color: #9299a2;
}
.numbers-bucket__content {
    border: 1px solid #dddfe0;
    border-radius: 10px 10px 0 0;
}

.form__done-btn {
    border: 1px solid #dddfe0;
    border-radius: 0 0 10px 10px;
}

.form__done-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 30px auto;
    max-width: 610px;	
}

.correct-service .header{
	margin-bottom: 30px;
}

.correct-service__prev-but{
	text-transform: uppercase;
	font-size: 16px;
}

.correct-number__prev-but{
	text-transform: uppercase;
	font-size: 16px;
}

.correct-number__next-bth,
.correct-number__add-more-next-bth,
.correct-number__add-more-two-next-bth,
.correct-number__add-more-three-next-bth,
.correct-number__add-more-four-next-bth{
	width: auto;
}

.form .condition__checkbox{
	margin: 0 15px 0 0;
}

form input[type=checkbox]{
	margin: 0 5px 0 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	opacity: 0;
}

form input[type=checkbox] + label{
	cursor: pointer;
	position: relative;
}
form input[type=checkbox] + label:before{
	position: absolute;
	left: -25px;
	top: 0;
	content: '';
	width: 18px;
	height: 18px;
	border: 1px solid #d5d9de;
	box-shadow: inset 0 0 2px #d5d9de;
	border-radius: 2px;
	background-color: #eef2f7;
}
form input[type=checkbox]:checked + label:before{
	content: '\2714';
	color: #000;
	font-size: 14px;
	text-align: center;
	line-height: 19px;
	background-color: #ffdd2d;
	border-color: #ffdd2d;
	box-shadow: none;
}

form input[type=checkbox].condition__error + label:before{
	background-color: red;
	opacity: 0.1;
	box-shadow: none;
	border: 0;
}

.phone-number__price:after{
	content: "★";
	position: absolute;
	right: 18px;
	top: 12px;
	color: #dce3ea;
	font-size: 17px;
}

.phone-number__price.color:after{
	content: "★";
	position: absolute;
	right: 18px;
	top: 12px;
	color: #ffdd2d;
	font-size: 17px;
}

.page:not(.page_active) {
	display: none;
}

.removal{
	pointer-events: none ;
}

.phone-number__mark-checkbox-wrapper{
	display: flex;
	flex-direction: row-reverse;
}
.favorites{
	color: #dce3ea;
}



.bring__invite{
	width: 750px;
	margin: 0 auto 40px auto;
	font-size: 15px;
}
.bring__invite-text{
	margin-bottom: 0;
}

.bring__invite-more .bring-info__learn-more{
	border: none;
}

.all-info-body__item{
	width: 100%;
	display: flex;
	margin-bottom: 15px;
}
.all-info-body__item h2,
.all-info-body__item h3{
	margin: 0;
}
.all-info-body__number{
	flex-direction: column;
}
.number-data{
	margin: 15px 0;
	display: flex;
	flex-direction: column;
}

.number-data__top,
.number-service,
.number-phone,
.number-data__bot{
	display: flex;
	vertical-align: center;
}

.number-data__top{
	justify-content: space-between;
}
.number-data__bot{
	margin-top: 15px;
}

.data-text{
	text-transform: capitalize;
}
.data{
	margin-top: 3px;
	margin-left: 10px;
}

.bring-info__client-name{
	text-transform: capitalize;
}

.bring-info__red-text{
	color: red;
	margin: 15px 0;
}


.area{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none
}


.wrap{
	width: 120px;
	height: 120px;
	pointer-events: all;
}

.wrap__img{
	width: 100%;
	height: 100%;
	position: relative;
}

.wrap__cross{
	width: 12px;
	height: 12px;
	border: 1px solid #000;
	border-radius: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	position: absolute;
	top: 7px;
	right: 0;
}

.wrap__cross:before,
.wrap__cross:after {
	content: "";
	position: absolute;
	top: 5.4px;
	left: 2px;
	width: 8px;
	height: 1px;
	background: #000;
}

.wrap__cross:before {
	transform: rotate(45deg);
}

.wrap__cross:after {
	transform: rotate(-45deg);
}

.wrap__help{
	max-width: 300px;
	width: max-content;
	position: absolute;
	top: -55px;
	left: -50px;
	padding: 15px;
	background-color: #eeeeee;
	border-radius: 10px;
	border: 1px solid #000;
}

.wrap__help:after, .wrap__help:before{
	content:'';
	position: absolute;
	left: calc(50% - 16px);
	bottom: -18px;
	border: 8px solid transparent;
	border-top: 10px solid #000;
}

.wrap__help:after{
	border-top: 10px solid #eeeeee;
	bottom: -17px;
}

















